{% extends 'main.html' %}

{% block title %}
    <div class='fs-6 fw-light'>
        Software Engineering | Data Science
    </div>
    <div class='display-1'>
        Naol Basaye
    </div>
    <div class='fs-6 fw-normal pb-3'>
        Duke University & Duke Kunshan University May 2023
    </div>
    <div class='d-flex mb-3 gap-3 pt-5'>
        <a href='https://www.linkedin.com/in/naol-basaye/'>LinkedIn</a>
        <a href='https://github.com/NaolGB'>GitHub</a>
        <a href="{% url 'projects_home' %}">Projects</a>
    </div>
{% endblock title %}

{% block content %}

<div class='pb-2'>
    <div>
        Projects
    </div>
    <div>
        Blinder Resume
    </div>
    <div>
        Web Map
    </div>
    <div>
        Machne Learning for Crypto Trading
    </div>
    <div>
        Balloon Analoge Risk Task (Game)
    </div>
    
</div>
<div class='pb-2'>
    <div class="">
        Competetions
    </div>
    Hack Duke 2022
    2nd Place winner, Inequality Track
</div>
<div class='pb-2'>
    Proffessional Experience
    Data Scientist Intern May 2022 - Present
    Duke University Bass Connections
    Team leader for a Data Science team for a multinational research project across the US, Brazil, and Tanzania.
    SKills: Python, SQL, Data Analysis, Team Leadership

    Web Developer Nov 2021 - Jan 2022
    Time Business Group
    Automated warehouse and store management for a multiregional hospitality firm designing, developing, and
    deploying a web app.
    Skills: Python, Django, HTML/CSS, SQL, Software Life Cycle

    Software Enginner Intern Aug 2020 - Aug 2021
    Beru Computech
    Team leader in a customer-focused software development firm. Developed full systems and modules in projects with
    minimal supervision, ensuring customer satisfaction
    Skills: Python, Java, SQL, Team Leadership, HTML/CSS
</div>
<div class='pb-2'>
    Leadership and Other Experience

    <p>
        <strong>Computer Science Tutor</strong> 
        <br><span class='fst-italic'>Duke University</span>, Sep 2022 - Present
        <br>Tutor student in 4 Computer Science courses - CS 101, Algorithms and Data Structures, Computer Systems, Intro to Data Science
        <br><strong>Skills</strong>: Algorithms, Data Structures, Problem Solving, Databases, Communication
    </p>
    <p>
    <strong>Branding and Marketing Assistant</strong>
    <br><span class='fst-italic'>Duke Kunshan University Office of Communication and Public Affairs</span>, Oct 2019 - May 2020
    <br>Planned and organized events, facilitated video and photo shoots, and researched and reported on opportunities to glorify the brand.
    <br><strong>Skills</strong>: Communication, Teamwork, Event Management, Adobe Creative Suite, Microsoft 365
    </p>
    <p>
    <strong>Assistant Manager</strong>
    <br><span class='fst-italic'>Time Cafe</span>, Sep 2018 - Aug 2019
    <br>Operations management of 65+ back-of-house, waitstaff, finance, and purchase teams for a café with 1,500+ daily customers.
    <br><strong>Skills</strong>: Power BI, Microsoft 365, Communication, Team Leadership, Customer Service
    </p>


</div>
{% endblock content %}