{% extends 'main.html' %}
{% load static %}
{% block title %}
    <div class='fs-6 fw-light'>
        Software Engineering
    </div>
    <div class='display-5'>
        Naol Basaye
    </div>
    <div class='fs-6 fw-normal pb-5'>
        Duke University & Duke Kunshan University May 2023
    </div>
    <div class='d-flex mb-3 gap-3'>
        <a href='https://www.linkedin.com/in/naol-basaye/'>LinkedIn</a>
        <a href='https://github.com/NaolGB'>GitHub</a>
    </div>
{% endblock title %}

{% block content %}
<div class="display-6 pb-4">
    Projects
</div>

<div class='d-flex flex-wrap justify-content-around gap-3'>
    <div class='card border-1'  style='width: 18rem'>
        <img src="{% static 'projects/blog.png' %}" class='card-img-top' alt="">
        <div class='card-body'>
            <h5 class='card-title'>Blog by AI</h5>
            <p>
                Fully automatic blog writing process powered by GPT-3 and DALLE&#183;2. Developed on 
                Django front and back-end. Served CI/CD throught GitHub Actions.
                <br><br><strong>Skills</strong>: Django, Python, HTML/CSS, NLP, API
            </p>
            <a href="{% url 'blog_home' %}">Blog</a>
        </div>
    </div>

    <div class='card border-1'  style='width: 18rem'>
        <img src="{% static 'projects/blinder_resume.png' %}" class='card-img-top' alt="">
        <div class='card-body'>
            <h5 class='card-title'>Blinder Resume</h5>
            <p>
                Creating a fair initial resume screening process by leveraging Natural Language Processing
                <br><br><strong>Skills</strong>: Python, HTML/CSS, NLP, API
            </p>
            <a href="{% url 'projects_blinder_resume' %}">Blinder Resume</a>
        </div>
    </div>

    <div class='card border-1'  style='width: 18rem'>
        <img src="{% static 'projects/web_map_100k.png' %}" class='card-img-top' alt="">
        <div class='card-body'>
            <h5 class='card-title'>Web Map</h5>
            <p>
                Collecting, analyzing, and visualizing domain data from the web by web crawling
                <br><br><strong>Skills</strong>: Python, HTML/CSS, Web Crawling, Tableau
            </p>
            <a href="{% url 'projects_web_map' %}">Web Map</a>
        </div>
    </div>

    <div class='card border-1'  style='width: 18rem'>
        <img src="{% static 'projects/crypto_ml_multilabel_backtest.png' %}" class='card-img-top' alt="">
        <div class='card-body'>
            <h5 class='card-title'>ML Crypto Prediction</h5>
            <p>
                Machine Learning to predict the 12 hour price movement of cryptocurrency assets
                <br><br><strong>Skills</strong>: Python, Tensorflow, Data Analysis, API, Machine Learning
            </p>
            <a href="{% url 'projects_crypto_ml' %}">ML Crypto Prediction</a>
        </div>
    </div>

    <div class='card border-1'  style='width: 18rem'>
        <img src="{% static 'projects/bart.png' %}" class='card-img-top' alt="">
        <div class='card-body'>
            <h5 class='card-title'>Bart Game</h5>
            <p>
                Quantifying risk taking tendency through web based computer game
                <br><br><strong>Skills</strong>: Python, HTML/CSS, Django, SQL
            </p>
            <a href="{% url 'projects_bart' %}">Bart Game</a>
        </div>
    </div>
</div>

<div class='pt-5'>
    <div class="fs-6 pb-1">
        <strong>Competitions</strong>
    </div>
    <p>
    <strong>Hack Duke 2022</strong>
    <br>2nd Place winner with the project Blinder Resume
    </p>
</div>

<div class='pt-5'>
    <div class="fs-6 pb-1">
        <strong>Proffessional Experience</strong>
    </div>
    <p>
    <strong>Data Scientist Intern </strong>
    <br><span class='fst-italic'>Duke University Bass Connections</span>, May 2022 - Present 
    <br>Team leader for a Data Science team for a multinational research project across the US, Brazil, and Tanzania.
    <br><strong>Skills</strong>: Python, SQL, Data Analysis, Team Leadership
    </p>

    <p>
    <strong>Web Developer </strong>
    <br><span class='fst-italic'>Time Business Group</span>, Nov 2021 - Jan 2022
    <br>Automated warehouse and store management for a multiregional hospitality firm designing, developing, and
    <br>deploying a web app.
    <br><strong>Skills</strong>: Python, Django, HTML/CSS, SQL, Software Life Cycle
    </p>

    <p>
    <strong>Software Enginner Intern</strong>
    <br><span class='fst-italic'>Beru Computech</span>, Aug 2020 - Aug 2021
    <br>Team leader in a customer-focused software development firm. Developed full systems and modules in projects with
    <br>minimal supervision, ensuring customer satisfaction
    <br><strong>Skills</strong>: Python, Java, SQL, Team Leadership, HTML/CSS
    </p>
</div>



<div class='pt-5'>
    <div class="fs-6 pb-1">
        <strong>Leadership and Other Experience</strong>
    </div>

    <p>
        <strong>Computer Science Tutor</strong> 
        <br><span class='fst-italic'>Duke University</span>, Sep 2022 - Present
        <br>Tutor student in 4 Computer Science courses - CS 101, Algorithms and Data Structures, Computer Systems, Intro to Data Science
        <br><strong>Skills</strong>: Algorithms, Data Structures, Problem Solving, Databases, Communication
    </p>
    <p>
    <strong>Branding and Marketing Assistant</strong>
    <br><span class='fst-italic'>Duke Kunshan University Office of Communication and Public Affairs</span>, Oct 2019 - May 2020
    <br>Planned and organized events, facilitated video and photo shoots, and researched and reported on opportunities to glorify the brand.
    <br><strong>Skills</strong>: Communication, Teamwork, Event Management, Adobe Creative Suite, Microsoft 365
    </p>
    <p>
    <strong>Assistant Manager</strong>
    <br><span class='fst-italic'>Time Cafe</span>, Sep 2018 - Aug 2019
    <br>Operations management of 65+ back-of-house, waitstaff, finance, and purchase teams for a café with 1,500+ daily customers.
    <br><strong>Skills</strong>: Power BI, Microsoft 365, Communication, Team Leadership, Customer Service
    </p>
</div>
{% endblock content %}