{% extends 'main.html' %}
{% load static %}
{% block title %}
<div class='display-1'>
    Balloon Analoge Risk Task
</div>
<div class='fs-6 fw-light pb-3'>
    Quantifying risk taking tendency of players through web based computer game
</div>
<div class='d-flex mb-3 gap-3 pt-5'>
    <a href="https://bart.bynaol.com">Play the Game</a>
    <a href='https://github.com/NaolGB/BalloonAnalogueRiskTaskGame'>GitHub repo</a>
</div>
{% endblock title %}

{% block content %}

<p class='pt-5'>
    Balloon Analogue Risk Task (BART) is a computer game to measure risk taking 
    behavior of players. It is used by researchers and employers to determine, among 
    others, risk propensity. While there are multiple implementations of BART, 
    there is a lack of implementations where researchers can record data other than just 
    number of pumps or clicks.
    <div class='d-flex justify-content-center gap-4 pt-3 pb-4'>
        <div class=''  style='width: 36rem'>
            <img src="{% static 'projects/bart.png' %}" class='rounded img-fluid' alt="">
        </div>
    </div>
    Using Django, I was able to record multiple forms of data more than clicks. I further developed this
    into active inference which helped me analyze player behaviour with better quantifyability.
    Read more about BART here.
</p>

{% endblock content %}  