{% extends 'main.html' %}
{% block title %}
<div class='display-1'>
    Blinder Resume
</div>
<div class='fs-6 fw-light pb-3'>
    Creating a fair initial resume screening process by leveraging Natural Language Processing
</div>
<div class='d-flex mb-3 gap-3 pt-5'>
    <a href='#'>Demo</a>
    <a href='https://github.com/NaolGB/HackDuke22'>GitHub repo</a>
    <a href="{% url 'projects_home' %}">Projects</a>
</div>
{% endblock title %}
{% block content %}
<p>
<br>
Anonymizing racial, gender, adn socioeconomic status identifying elements of a resume to create 
a fair initial resume screening process. Built with Django and GPT-3, this is a Hackathon 
project with a team of 4. Naol Basaye, Carlos Gustavo Salas Flores, Chaelin Lee, and Dulguun 
Nyamgerel. Won second place in inequality track.
<br><br>
<strong>Inspiration</strong><br>
Initial resume screening is an important step where recruiters' bias plays a great role in discrimination. 
Applicants are highly discriminated against based on their race and gender in this step. Applicants with 
'white names' and 'male names' are multiple times more likely to receive an invitation for an interview that 
their counterparts with 'non-white names' and 'female names'. To combat this we are creating a program to 
anonymize and generalize applicants' resume elements to create a more blind and equal-opportunity resume 
screening process.
<br>
<br>
<strong>What it does</strong><br>
Based on our research the main identifying elements of a resume for race and gender are name, contact 
nformation, and extracurriculars. As such, our program reads a resume and hides name, and contact information 
from the recruiter. In addition, still in development, it generalizes extracurricular activities in the resume 
so that recruiters have good information about the applicant's interests and efforts without consciously or 
unconsciously discriminating against them based on the types and details of the activities.
<br>
<br>
<strong>How we built it</strong><br>
We used python libraries to read and parse the resumes of applicants. Following that we used Open AI's GPT-3 
to run NLP and extract relevant information regardless of the formatting of the resume. Following that, still 
in development, we further utilized GPT-3 to generalize and categorize extracurricular and other points based 
on which potential discrimination can occur. We used Django to combine these elements together in a web app. 
We developed a front end both for the recruiter and the applicant. For the applicant, after submitting 
information and resume, the information is removed from the resume, and contact information is saved in a 
separate database where it can be fetched by the program. In case the recruiter wants to select the applicant 
for an interview, then a simple click can send an email to the applicant.
<br>
<br>
<strong>What's next</strong><br>
We plan to complete, improve, and test our program. Following that, we plan to find partners with whom we can 
implement the program and study the changes that come from using this program. Based on these results we will 
continue to improve on the program and further develop it into a stage where it can fight inequality in resume 
screening.
</p>
{% endblock content %}