{% extends 'main.html' %}
{% load static %}

{% block title %}
<div class='display-1'>
    Projects
</div>
<div class='d-flex mb-3 gap-3 pt-5'>
    <a href='https://www.linkedin.com/in/naol-basaye/'>LinkedIn</a>
    <a href='https://github.com/NaolGB'>GitHub</a>
    <a href="{% url 'projects_home' %}">Projects</a>
</div>
{% endblock title %}
{% block content %}
<div class='pt-5 d-flex flex-wrap gap-4'>
    <div class='card'  style='width: 18rem'>
        <img>
        <div class='card-body'>
            <h5 class='card-title'>Blinder Resume</h5>
            <p>
                Anonymizing racial, gender, and socioeconomic status identifying elements of a resume to create 
                a fair initial resume screening process. Built with Django and GPT-3.
            </p>
            <a href="{% url 'projects_blinder_resume' %}">Blinder Resume</a>
        </div>
    </div>

    <div class='card'  style='width: 18rem'>
        
        <img src="{% static 'projects/web_map_100k.png' %}" class='card-img-top' alt="Image of 100k top domains based on size and top level domiain">
        <div class='card-body'>
            <h5 class='card-title'>Web Map</h5>
            <p>
                Aimned at creating a map of the internet, I Visualized the internet through website domain 
                names and popularity. I used Python and SQL.
            </p>
            <a href="{% url 'projects_web_map' %}">Web Map</a>
        </div>
    </div>

    <div class='card'  style='width: 18rem'>
        <img src="{% static 'projects/crypto_ml_multilabel_backtest.png' %}" class='card-img-top' alt="Image of 100k top domains based on size and top level domiain">
        <div class='card-body'>
            <h5 class='card-title'>ML Crypto Prediction</h5>
            <p>
                Price prediction for cryptocurrency by classification through Convolutional Neural Netwroks. 
                I used Python, Tensorflow, and a Binance API.
            </p>
            <a href="{% url 'projects_crypto_ml' %}">ML Crypto Prediction</a>
        </div>
    </div>

    <div class='card'  style='width: 18rem'>
        <img>
        <div class='card-body'>
            <h5 class='card-title'>Bart Game</h5>
            <p>
                Balloon Analogue Risk Task (BART) is a computer game to measure risk taking 
                behavior of players. I used Python, MatLab, Django, HTML/CSS.
            </p>
            <a href="{% url 'projects_bart' %}">Bart Game</a>
        </div>
    </div>
</div>
{% endblock content %}